body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 100vw;
    height: 100vh;
}
.mainbutton{
    background-color: rgb(211, 86, 225);
    width: 15vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    user-select: none;
}
.mainbutton:hover{
    cursor: pointer;
    background-color: rgb(179, 73, 191);
    transform: scale(1.2);
}
.popup{
    position: absolute;
    height: 1vh;
    width: 30vw;
    background-color: rgb(249, 76, 255);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.popup.active{
    display: flex;
    height: 30vh;
}
.popuptext{
    margin-top: 4vh;
    font-size: 20px;
}
.popupbutton{
    background-color: rgb(255, 2, 61);
    width: 15vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    user-select: none;
}
.popupbutton:hover{
    cursor: pointer;
    background-color: rgb(200, 0, 47);
    transform: scale(1.1);
}
.popbwrapper{
    margin-top: 12vh;
    display: flex;
    gap: 2vw;
}