body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 89, 241);
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.question{
    font-size: 100px;
    color: rgb(219, 112, 231);
    -webkit-text-stroke: 0.1px rgb(205, 65, 221);
    margin-bottom: 50vh;
    user-select: none;
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
}
.mainbutton{
    background-color: rgb(211, 86, 225);
    width: 15vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    user-select: none;
}
.mainbutton:hover{
    cursor: pointer;
    background-color: rgb(179, 73, 191);
    transform: scale(1.2);
}
.mainbuttons{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}
.popup{
    position: absolute;
    height: 1vh;
    width: 30vw;
    background-color: rgb(249, 76, 255);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.popup.active{
    display: flex;
    height: 30vh;
}
.popuptext{
    margin-top: 4vh;
    font-size: 20px;
}
.popupbutton{
    background-color: rgb(255, 2, 61);
    width: 15vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    user-select: none;
}
.popupbutton:hover{
    cursor: pointer;
    background-color: rgb(200, 0, 47);
    transform: scale(1.1);
}
.popbwrapper{
    margin-top: 12vh;
    display: flex;
    gap: 2vw;
}